[Unit]
Description=Start Herir Node.js Service
Requires=network.target
After=network.target

[Service]
Type=forking
WorkingDirectory=/srv/hereir/node
ExecStart=/usr/bin/forever start --pidFile /var/run/hereir.pid HereIR.js
ExecStop=/usr/bin/forever stop HereIR.js
PIDFile=/var/run/hereir.pid
User=user
Group=group
